<div class="container main">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="detail-all">
          <div class="row">
            <div class="col-md-12 plr0">
              <div class="row" style="margin-top: 50px;">
                <div class="col-sm-6">
                  <h2 class="title-lienhe">Thông tin liên hệ</h2>
                  <div class="conten-lienhe">
                    <div style="box-sizing: border-box">
                      <div
                        style="
                          box-sizing: border-box;
                          border-bottom: 1px solid rgba(255, 0, 0, 0.15);
                          padding-top: 10px;
                        "
                      >
                        <span style="font-size: 20px"
                          ><span style="color: #b22222"
                            ><strong>STREET WEAR</strong></span
                          ></span
                        >
                      </div>
  
                      <div
                        style="
                          box-sizing: border-box;
                          border-bottom: 1px solid rgba(255, 0, 0, 0.15);
                          padding-top: 10px;
                        "
                      >
                        <span style="font-size: 16px"
                          ><img
                            alt="Liên hệ Street wear"
                            src="https://phuongnamvina.com/img_data/images/icon1.png"
                            style="
                              font-family: arial, helvetica, sans-serif;
                              font-size: 16px;
                              width: 21px;
                            "
                            title="Liên hệ Street wear"
                          /><span
                            style="font-family: arial, helvetica, sans-serif"
                            >&nbsp;</span
                          >Địa chỉ: Hà Nội</span
                        >
                      </div>
                    </div>
  
                    <div style="box-sizing: border-box">
                      <div
                        style="
                          box-sizing: border-box;
                          border-bottom: 1px solid rgba(255, 0, 0, 0.15);
                          padding-top: 10px;
                        "
                      >
                        <span style="font-size: 16px"
                          ><img
                            alt="Liên hệ Street wear"
                            src="https://phuongnamvina.com/img_data/images/icon2.png"
                            style="
                              border: 0px;
                              box-sizing: border-box;
                              max-width: 100%;
                              vertical-align: middle;
                              width: 21px;
                            "
                            title="Liên hệ Street wear"
                          />&nbsp;Điện thoại: (028) 3553 2306 - Fax: (028) 3511
                          0997</span
                        >
                      </div>
  
                      <div
                        style="
                          box-sizing: border-box;
                          border-bottom: 1px solid rgba(255, 0, 0, 0.15);
                          padding-top: 10px;
                        "
                      >
                        <span style="font-size: 16px"
                          ><img
                            alt="Liên hệ Street wear"
                            src="https://phuongnamvina.com/img_data/images/icon3.png"
                            style="
                              border: 0px;
                              box-sizing: border-box;
                              max-width: 100%;
                              vertical-align: middle;
                              width: 21px;
                            "
                            title="Liên hệ Street wear"
                          />&nbsp;Hotline:&nbsp;<span
                            style="color: rgb(255, 0, 0)"
                            >0912817117,&nbsp;0915101017</span
                          ></span
                        >
                      </div>
  
                      <div
                        style="
                          box-sizing: border-box;
                          border-bottom: 1px solid rgba(255, 0, 0, 0.15);
                          padding-top: 10px;
                        "
                      >
                        <span style="font-size: 16px"
                          ><img
                            alt="Liên hệ Street wear"
                            src="https://phuongnamvina.com/img_data/images/icon4.png"
                            style="
                              border: 0px;
                              box-sizing: border-box;
                              max-width: 100%;
                              vertical-align: middle;
                              width: 21px;
                            "
                            title="Liên hệ Street wear"
                          />&nbsp;Email: info@streetwear.vn</span
                        >
                      </div>
  
                      <div
                        style="
                          box-sizing: border-box;
                          border-bottom: 1px solid rgba(255, 0, 0, 0.15);
                          padding-top: 10px;
                        "
                      >
                        <span style="font-size: 16px"
                          ><img
                            alt="Liên hệ Street wear"
                            src="https://phuongnamvina.com/img_data/images/icon5.png"
                            style="
                              border: 0px;
                              box-sizing: border-box;
                              max-width: 100%;
                              vertical-align: middle;
                              width: 21px;
                            "
                            title="Liên hệ Street wear"
                          />&nbsp;Website:
                          <a
                            title="www.phuongnamvina.com"
                            ><span style="color: #333333"
                              >www.streetwear.com</span
                            ></a
                          ></span
                        >
                      </div>
                    </div>
  
                    <p style="text-align: justify">&nbsp;</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <h2 class="title-lienhe">Liên hệ với chúng tôi</h2>
                  <form
                    id="form-contact"
                    method="post"
                    class="row dang-ky-tu-van"
                  >
                    <div class="col-sm-12" style="margin-top: 14px;">
                      <div class="form-group" style="margin-bottom: 10px">
                        <input
                          type="text"
                          id="ho_ten"
                          name="ho_ten"
                          class="form-control"
                          placeholder="Họ tên"
                        />
                      </div>
                      <div class="form-group" style="margin-bottom: 10px">
                        <input
                          type="phone"
                          id="so_dien_thoai"
                          name="so_dien_thoai"
                          class="form-control"
                          placeholder="Số điện thoại"
                        />
                      </div>
                      <div class="form-group" style="margin-bottom: 10px">
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control"
                          placeholder="Email"
                        />
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div
                        class="textarea-message form-group"
                        style="margin-bottom: 10px"
                      >
                        <textarea
                          style="height: 60px"
                          class="form-control"
                          name="noi_dung"
                          placeholder="Nội dung liên hệ"
                          rows="3"
                        ></textarea>
                      </div>
                      <div
                        class="form-group item-captcha"
                        style="margin-top: 13px"
                      >
                        <div class="row">
                          <div class="col-sm-8 plr10">
                            <div
                              class="g-recaptcha"
                              data-sitekey="6LdBzKUZAAAAAH615MmsGWgKAiicxrUweFbAe6OE"
                            ></div>
                          </div>
                          <div class="col-sm-4 plr10">
                            <button
                              class="form-control btn btn-success btn-dk"
                              style="height: 50px; margin-top: 20px; margin-bottom: 50px;"
                              name="sub_email"
                              type="submit"
                            >
                              Gửi liên hệ
                              <i class="fa fa-paper-plane"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
