<form [formGroup]="userForm" (ngSubmit)="onHandleSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email " formControlName="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>